# Exclude program ouput
*.log
*.out

# Exclude windows config files
*.db
*.ini

# Exclude windows shortcuts
*.lnk
*.url

# Exclude Office deployment tool and it's files (To avoid licencing conflicts)
MS Office/OfficeDeploy/